{{ partial "head.html" . }}

<body>
  <header class="tc pal bb b-near-white">
    <h1 class="f6 thin i link-child">
      <a href="/">Your_blog_name_here</a>
    </h1>
    <nav>
      <ul class="list pln">
        <li class="dib prm">
          <a href="/">
            <span class="js-geomicon geomicon" data-icon="home"></span>Home</a>
        </li>
        <li class="dib prm">
          <a href="/post">
            <span class="js-geomicon geomicon" data-icon="compose"></span>Blog</a>
        </li>
        <li class="dib prm">
          <a href="/about">
            <span class="js-geomicon geomicon" data-icon="user"></span>About</a>
        </li>
      </ul>
    </nav>
  </header>